name: RSpec

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron:  '0 0 * * *'

jobs:
  spec:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        redis_version:
          - redis/redis-stack:6.2.6-v20
          - redis/redis-stack:7.4.0-v8
          - redis:latest # Redis 8 and above have time series built-in
        ruby_version: ['2.7', '3.0', '3.1', '3.2', '3.3', '3.4', '4.0']
    services:
      redis:
        image: ${{ matrix.redis_version }}
        ports:
          - 6379:6379/tcp
    env:
      CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      GIT_COMMIT_SHA: ${{ github.sha }}
      GIT_BRANCH: ${{ github.head_ref }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
    - name: Install dependencies
      run: |
        bundle install
        bundle exec appraisal install
    - name: Run specs
      run: bundle exec appraisal rake spec
    - name: Upload coverage report
      uses: qltysh/qlty-action/coverage@v2
      with:
        token: ${{secrets.QLTY_COVERAGE_TOKEN}}
        files: coverage/.resultset.json
    - uses: actions/upload-artifact@v6
      with:
        name: coverage-${{ matrix.ruby_version }}-${{ replace(matrix.redis_version, ':', '_') }}
        path: coverage/
